---
---

@charset "utf-8";

// Bourbon.io
@import "bourbon/bourbon";

// !———— Reset ————

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,sm,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.group:before,
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}

// !———— Variables ————

$color-key: #222;
$color-background: #fff;

$base-font-size: 16px;

// !———— Animations ————

@include keyframes(fade-in) {
	from {
		opacity: 0;
		transform: scale(1);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@include keyframes(draw-line) {
	to {
		stroke-dashoffset: 0;
	}
}		

@include keyframes(rotate-in) {
	to {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0) scale(1.0, 1.0);
		opacity: 1;
	}
}

// !———— Basic Styles ————

html {
	height: 100%;
}

body {
	font-family: "adelle-sans-1","adelle-sans-2", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: 100%;
	color: $color-key;
	background-color: $color-background;
}

h1 {
	font-size: $base-font-size * 2;
	font-weight: 300;
	line-height: 1;
	margin: 8px 0;
}

h2 {
	display: inline-block;
	font-size: $base-font-size;
	font-weight: 600;
	line-height: 1;
	margin: 16px 0;
	text-transform: uppercase;
	padding: 8px 16px;
	color: $color-background;
	background-color: $color-key;
}

h3 {
	font-size: $base-font-size;
	font-weight: 600;
	line-height: 1.5;
}

p {
	line-height: 1.5;
}

a {
	color: $color-key;
}

li {
	line-height: 1.5;
	list-style: none;
}

.content-wrapper {
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
}

section {
	margin-bottom: 64px;
}

// !———— Header ————

#homepage-intro {
	position: relative;
	text-align: center;
	padding: 32px 0;
	height: 95%;
	min-height: 280px;
	
// 	@include transition(all 0.05s linear);
	
	&.shorter {
		height: 320px;
	}
	
	.header-content {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform( translate(-50%, -50%) );		
	}
	
	h1, p {
		opacity: 0;
		
		@include animation( fade-in 0.75s $ease-in-out-cubic 1 );
		@include animation-fill-mode(forwards);
	}
	
	h1 {
		@include animation-delay(2s);
	}
	p {
		@include animation-delay(3s);
	}
}

.ea-monogram {
	margin-bottom: 16px;
	opacity: 0;

	@include transform( rotateX(0deg) rotateY(0deg) rotateZ(720deg) translateZ(0) scale(1.0, 1.0) );
	@include animation( rotate-in 3s $ease-out-expo 1 );
	@include animation-fill-mode(forwards);
	
	path {
		stroke-width: 3;
	}
	
	.short.line {
		stroke-dasharray: 18;
		stroke-dashoffset: 18;

		@include animation( draw-line 0.5s $ease-out-cubic 1 );
		@include animation-fill-mode(forwards);
		
		&.a{
			@include animation-delay(1.125s);
		}
		&.b{
			@include animation-delay(1.25s);
		}
	}
	
	.vertical.line {
		stroke-dasharray: 54;
		stroke-dashoffset: 54;

		@include animation( draw-line 1s $ease-out-cubic 1 );
		@include animation-fill-mode(forwards);
		@include animation-delay(1s);
	}
	
	.curve {
		stroke-dasharray: 85;
		stroke-dashoffset: 85;

		@include animation( draw-line 1s $ease-in-out-cubic 1 );
		@include animation-fill-mode(forwards);
	}
}

// !———— Homepage ————

.homepage.content {
	text-align: center;
}

.section-work {
	
	ul {
		font-size: 0;
		
		li.tile {
			position: relative;
			display: inline-block;
			font-size: $base-font-size;
			margin: 56px 16px;
			padding: 8px 0;
			width: 288px;
			text-align: center;
			
			.tile-image {
				border-bottom: 1px solid rgba(0,0,0,0.1);
				margin-bottom: 8px;
			}
		}
	}
}

.section-photography {
	#photo-gallery {
		width: 100%;
		height: 500px;
		margin: 32px 0;
		background-color: rgba(0,0,0,0.1);
	}
}

// !———— Footer ————
footer {
	position: relative;
	width: 100%;
	padding: 32px 0;
	text-align: center;
	
	ul {
		font-size: 0;
		
		li {
			display: inline-block;
			margin: 0 16px;
			font-size: $base-font-size;
		}
	}
}
