---
layout: homepage
class: homepage
---

<section class="section-work tile-section group">
	<h2>Design</h2>
	<p>These are some of the projects I've worked on.</p>
	
	<ul class="work">

	  <li class="tile" id="personal">
			{% include ea.svg %}
	  	<h3>Personal Work</h3>
	  	<p>Selected projects</p>
	  	<a href="work/personal/"></a>
	  </li>

	  <li class="tile" id="thegameband">
			  {% include thegameband.svg %}			
			<h3>The Game Band</h3>
			<p>Experimental social games</p>
			
			<a href="work/thegameband/"></a>
		</li>

	  <li class="tile" id="wealthsimple">
				{% include wealthsimple.svg %}			
			  <h3>Wealthsimple</h3>
			  <p>Grow your money</p>
			  
			  <a href="work/wealthsimple/"></a>
		  </li>

	  <li class="tile" id="kineticcafe">
			{% include kineticcafe.svg %}			
	  	<h3>Kinetic Café</h3>
	  	<p>The future of retail</p>
	  	
	  	<a href="work/kineticcafe/"></a>
	  </li>

	  <li class="tile" id="cast">
			{% include cast.svg %}
	  	<h3>Cast</h3>
	  	<p>A thing for podcasting</p>
	  	<a href="work/cast/"></a>
	  </li>

	  <li class="tile" id="fivehundredpx">
			{% include fivehundredpx.svg %}			
	  	<h3>500px</h3>
	  	<p>Everyone's best photos</p>
	  	<a href="work/fivehundredpx/"></a>
	  </li>

	  <li class="tile" id="bumptop">
			{% include bumptop.svg %}
	  	<h3>BumpTop</h3>
	  	<p>Physics-based desktop</p>
	  	<a href="work/bumptop/"></a>
	  </li>

	  <li class="tile" id="debacle">
			{% include debacle.svg %}
	  	<h3>Debacle Software</h3>
	  	<p>Mobile photography apps</p>
	  	<a href="work/debacle/"></a>
	  </li>

	</ul>
</section>

<!-- <section class="section-photography tile-section group">
	<h2>Photography</h2>
	<p>Visit my <a href="https://photos.ericakaoka.com">full portfolio</a>, or find me on <a href="https://instagram.com/akaoka">Instagram</a> or <a href="https://500px.com/akaoka">500px</a>.</p>
	<ul class="work">
		<li class="tile exposure-embed exposure-home">
			<iframe src="https://photos.ericakaoka.com/?embed=true" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
			<div class="tile-cover">
				<div class="top-cover"></div>
				<div class="text-content">
					<h3>View my full portfolio</h3>
					<p>Individual galleries & photo stories</p>
				</div>
				<a href="https://photos.ericakaoka.com"></a>
			</div>
		</li>
		<li class="tile exposure-embed">
			<iframe src="https://AkaokA.exposure.co/portraits/embed/cover?embed=true" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
			<a href="https://AkaokA.exposure.co/portraits"></a>
		</li>
		<li class="tile exposure-embed">
			<iframe src="https://AkaokA.exposure.co/landscapes/embed/cover?embed=true" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
			<a href="https://AkaokA.exposure.co/landscapes"></a>
		</li>
	</ul>
</section> -->

<section class="section-podcast tile-section group">
	<h2>Podcast</h2>
  <ul>
	  <li class="tile" id="">
			<img src="images/the-redesign.jpg"/>
<!-- 	  	<h3>The Redesign</h3> -->
	  	<p>A <em>very serious</em> podcast in which we create the ultimate versions of everyday&nbsp;things.</p>
	  	<a href="http://theredesign.cast.rocks"></a>
	  </li>
  </ul>
</section>


<!--
<section class="section-photography group">
	<h2>Photography</h2>
	<p>For more, check out my <a href="http://500px.com/akaoka">500px</a> or <a href="http://instagram.com/akaoka">Instagram</a> profiles.</p>

	<div id="photo-gallery">
	</div>
	
	<p><a class="load-more-photos" href="">Load more photos</a></p>
</section>
-->


<!--
<section class="section-writing group">
	<h2>Writing</h2>
	<ul class="post-list">
	  {% for post in site.posts %}
	    <li class="tile" >
	      <a href="{{ post.url }}">{{ post.title }}</a>
	      {{ post.excerpt }}
	    </li>
	  {% else %}
	  	<p>No posts yet! Stay tuned.
	  {% endfor %}
	</ul>
</section>
-->

<section class="section-music group">
	<h2>Music</h2>
	<p>In a past life, I made music.<br/><br/></p>
	<p><a href="https://soundcloud.com/akaoka">Eric Akaoka</a> on Soundcloud</p>
	<p><a href="https://itun.es/ca/nwHLq">The Offshore Electric Company</a> on Apple Music</p>
</section>

<section class="section-contact group">
	<h2>Contact</h2>
	<ul>
		<li><a href="mailto:eric@ericakaoka.com">eric@ericakaoka.com</a></li>
	</ul>
</section>

<div class="fullscreen-wrapper">
	<svg class="spinner stroke" width="78px" height="78px" viewBox="0 0 78 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Artboard-2" sketch:type="MSArtboardGroup" stroke-linecap="round" stroke="#000000" stroke-width="3">
            <g id="Group" sketch:type="MSLayerGroup" transform="translate(3.000000, 3.000000)">
                <path class="curve" d="M61.4558441,61.4558441 C67.9705627,54.9411255 72,45.9411255 72,36 C72,16.117749 55.882251,0 36,0" id="Oval-6" sketch:type="MSShapeGroup"></path>
                <path class="curve" d="M10.5441559,10.5 C4.02943725,17.0147186 0,26.0147186 0,35.9558441 C0,55.8380951 16.117749,71.9558441 36,71.9558441" id="Path" sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </g>
	</svg>
</div>
