<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

		<div id="homepage-intro">
			<div class="content-wrapper">
				<div class="header-content">
		
					<svg class="ea-monogram stroke" width="78px" height="78px" viewBox="0 0 78 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
					    <defs></defs>
					    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
					        <g id="Artboard-2" sketch:type="MSArtboardGroup" stroke-linecap="round" stroke="#000000" stroke-width="3">
					            <g id="Group" sketch:type="MSLayerGroup" transform="translate(3.000000, 3.000000)">
					                <path class="vertical line" d="M36,1.66533454e-16 L36,54" id="Line" sketch:type="MSShapeGroup"></path>
					                <path class="short line b" d="M54,36 L36,36" id="Line-Copy" sketch:type="MSShapeGroup" transform="translate(45.000000, 36.000000) scale(-1, -1) translate(-45.000000, -36.000000) "></path>
					                <path class="short line a" d="M18,36 L0,36" id="Line-Copy-2" sketch:type="MSShapeGroup" transform="translate(9.000000, 36.000000) scale(-1, -1) translate(-9.000000, -36.000000) "></path>
					                <path class="curve" d="M61.4558441,61.4558441 C67.9705627,54.9411255 72,45.9411255 72,36 C72,16.117749 55.882251,0 36,0" id="Oval-6" sketch:type="MSShapeGroup"></path>
					                <path class="curve" d="M10.5441559,10.5 C4.02943725,17.0147186 0,26.0147186 0,35.9558441 C0,55.8380951 16.117749,71.9558441 36,71.9558441" id="Path" sketch:type="MSShapeGroup"></path>
					            </g>
					        </g>
					    </g>
					</svg>
					
					<h1>{{site.title}}</h1>
					<p>{{site.description}}</p>
				</div>
			</div>
		</div>

    <div class="{{ page.class }} content">
	    <div class="content-wrapper">
      	{{ content }}
	    </div>
    </div>

		<header class="homepage-header hidden">
			<a href="/">
				<svg class="ea-monogram" width="24px" height="24px" viewBox="0 0 78 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
				    <defs></defs>
				    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
				        <g id="Artboard-2" sketch:type="MSArtboardGroup" stroke-linecap="round" stroke="#222" stroke-width="3">
				            <g id="Group" sketch:type="MSLayerGroup" transform="translate(3.000000, 3.000000)">
				                <path class="vertical line" d="M36,1.66533454e-16 L36,54" id="Line" sketch:type="MSShapeGroup"></path>
				                <path class="short line b" d="M54,36 L36,36" id="Line-Copy" sketch:type="MSShapeGroup" transform="translate(45.000000, 36.000000) scale(-1, -1) translate(-45.000000, -36.000000) "></path>
				                <path class="short line a" d="M18,36 L0,36" id="Line-Copy-2" sketch:type="MSShapeGroup" transform="translate(9.000000, 36.000000) scale(-1, -1) translate(-9.000000, -36.000000) "></path>
				                <path class="curve" d="M61.4558441,61.4558441 C67.9705627,54.9411255 72,45.9411255 72,36 C72,16.117749 55.882251,0 36,0" id="Oval-6" sketch:type="MSShapeGroup"></path>
				                <path class="curve" d="M10.5441559,10.5 C4.02943725,17.0147186 0,26.0147186 0,35.9558441 C0,55.8380951 16.117749,71.9558441 36,71.9558441" id="Path" sketch:type="MSShapeGroup"></path>
				            </g>
				        </g>
				    </g>
				</svg>
				
				<h1>Eric Akaoka</h1>
			</a>
		</header>
		
    {% include footer.html %}
		
  </body>

</html>
