<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="portfolio">
		<section class="content">
	    <div class="content-wrapper">
		    <div class="portfolio-header">
          <ul>
            <li><a href="/work/thegameband">The Game Band</a></li>
            <li><a href="/work/wealthsimple">Wealthsimple</a></li>
            <li><a href="/work/kineticcafe">Kinetic Café</a></li>
            <li><a href="/work/cast">Cast</a></li>
            <li><a href="/work/fivehundredpx">500px</a></li>
            <li><a href="/work/debacle">Debacle</a></li>
            <li><a href="/work/personal">Personal</a></li>
          </ul>

			    {% include {{page.id}}.svg %}
			    <h1>{{page.title}}</h1>
			    <p class="subtitle">{{page.years}}</p>
				  <p class="description">{{page.description}}</p>
					
		    </div>
      	{{ content }}
      	
	    </div>
    </section>
    
    {% include header.html %}
    
    {% include portfolio-footer.html %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-94135601-1', 'auto');
      ga('send', 'pageview');
    
    </script>
  </body>

</html>
